.inbox.container {
  padding: calc(var(--padding) / 2);
  border: 1px solid var(--light1);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inbox.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inbox.add-card {
  width: 1.25rem;
  height: 1.25rem;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/*****/

.inbox.card-form {
  border: 1px solid var(--light1);
  padding: 1rem;
}
.inbox.card-form.metadata {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}

.inbox.card-form label {
  display: none;
}

.card-form.tags-time label {
  display: block;
}

.inbox.card-form.tags-time.time-input {
  width: 2rem;
}
.inbox.card-form.tags-time.time-input:invalid {
  border: 2px solid red;
}
.card-form.save-button {
  background: var(--accent);
  cursor: pointer;
  border: none;
  width: 80px;
  height: 3.25rem;
}
.card-form.save-button:hover {
  background: var(--accent-hover);
}


.inbox.card-form > .as-p {
  min-height: 30px;
  border: 1px solid var(--light0);
  padding: 0.25rem;
}
.inbox.card-form > .as-h3 {
  border: 1px solid var(--light0);
  padding: 0.25rem;
}
