.inbox.container {
  padding: calc(var(--padding) / 2);
  background: var(--bg-solid);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0rem;
}
#inbox-action-indicator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7.5rem;
}
.inbox.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inbox.add-card, .inbox.collapse {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.inbox.indicator {
  background: var(--accent);
  text-align: center;
  border: none;
  padding: 0.5rem;
}

.inbox.as-h2 {
  padding: 0.25rem;
  border: 1px solid var(--light1);
}

/*****/

.inbox.card-form {
  border: 1px solid var(--light1);
  padding: 1rem;
}
.inbox.card-form.metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}

.inbox.card-form label {
  display: none;
}
.inbox.card-form > .day-container label {
  display: inline;
}

.card-form.tags-time label {
  display: block;
}

.inbox.card-form.tags-time.time-input {
  width: 2rem;
}
.inbox.card-form.tags-time.time-input:invalid {
  border: 2px solid red;
}
.card-form.save-button {
  background: var(--accent);
  width: 80px;
  height: 3.25rem;
  box-shadow: 3px 3px 0 1px var(--accent-darken);
}
.card-form.save-button:hover {
  background: var(--accent-hover);
}


.inbox.card-form > .as-p {
  min-height: 30px;
  border: 1px solid var(--light0);
  padding: 0.25rem;
}
.inbox.card-form > .as-h3 {
  border: 1px solid var(--light0);
  padding: 0.25rem;
}

/**
 *
 * Smaller screens
 * */

  @media(max-width: 500px) {
    .inbox.title {
      font-size: 1.25rem;
      white-space: nowrap;
    }
    .inbox.indicator {
      font-size: 0.85rem;
    }
    .inbox.card-form.metadata {
      flex-direction: column;
      justify-content: space-between;
    }
    .card-form.tags-time {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      align-items: center;
    }
  }
