.project.container {
 padding: var(--padding);
 display: flex;
 flex-direction: column;
}
.project.title {
  text-align: center;
}
.project.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project.add-project {
  align-self: flex-start;
  cursor: pointer;
  background: transparent;
  border: none;
}
.project.add-inbox {
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.project.inbox-form {
  display: flex;
  align-items: center;
}

.inbox-form.accept, .project-form.accept {
  color: var(--affirmative);
}

.inbox-form.cancel, .project-form.cancel {
  color: var(--cancel);
}

.inbox-form button, .project-form button {
  background: transparent;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 25px;
}

.inbox-form button:hover {
  background: var(--light0);
}

.project.new-inbox-name, .project.new-project-name {
  height: 2rem;
  border: 1px solid var(--light1);
  margin: 1rem;
  padding: 0.55rem;
  font-size: 1.25rem;
}
.project.add-inbox svg {
  width: 25px;
  height: 25px;
}
.project.as-h1 {
  padding: 0.25rem;
  border: 1px solid var(--light0);
}
