.splashscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}

.splashscreen img {
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.workspace.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.workspace.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 75%;
}

/* Smaller screens */

@media (max-width: 700px) {
  .workspace.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
  }
  .workspace.projects {
    width: 100%;
  }
}
