:root {
  --padding: 2rem;
  --light0: hsl(0, 0%, 89%);
  --light1: hsl(0, 0%, 76%);
  --dark1: hsl(0, 0%, 39%);
  --dark0: hsl(0, 0%, 0%);
  --accent: #00adff;
  --bg-gradient: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 96%));
  --shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.1);
  --shadow-button: 0px -1px 20px 0px hsla(0, 0%, 0%, 0.18);
  --radius: 2px;
}
* > * {
  margin: 0px;
  padding: 0px;
}

.project.container {
 padding: var(--padding);
}
.inbox.container {
  padding: calc(var(--padding) / 2);
  border: 1px solid var(--light1);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

