:root {
  --padding: 2rem;
  --light0: hsl(0, 0%, 94%);
  --light1: hsl(0, 0%, 76%);
  --dark1: hsl(0, 0%, 39%);
  --dark0: hsl(0, 0%, 0%);
  --accent: hsl(199, 100%, 50%);
  --accent-hover: hsl(199, 100%, 47%);
  --accent-darken: hsl(199, 100%, 40%);
  --bg-gradient: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 96%));
  --shadow: 4px 7px 0 1px hsla(0, 0%, 0%, 0.95);
  --shadow-button: 0px -1px 20px 0px hsla(0, 0%, 0%, 0.18);
  --radius: 0px;
  --affirmative: #10AC84;
  --cancel: #F05228;
}
* > * {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  scroll-snap-type: y proximity;
  /* overscroll-behavior: none; */
}
html,
body {
  font: inherit;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

@media(max-width: 485px) {
  body {
    height: auto;
  }
}

/*
 * Global utility classes
 */
.as-h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.as-h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.as-h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border: none;
  width: 100%;
  background: transparent;
}

.as-p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border: none;
  background: transparent;
  width: 100%;
  resize: none;
  font-family: inherit;
}

/*
   * Day picker styles
   */
.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-container > .month {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.month > span {
  font-weight: bold;
}

.day-container * > .increment-decrement {
  font-weight: bold;
  font-size: 1rem;
  color: var(--dark0);
  user-select: none;
  background: transparent;
  border: none;
  padding: 3px;
  cursor: pointer;
}

.day-modifier > .day-input {
  width: 20%;
  border: 1px solid var(--light1);
  border-radius: var(--radius);
}

.day > .time-input {
  border: 1px solid var(--light1);
  border-radius: var(--radius);
}

.day > .day-modifier {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.day-container > .day {
  display: flex;
  justify-content: space-between;
}
